<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>
      Trailers
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item class="trailer" *ngFor="let trailer of movies" (click)="goToDetails(trailer)">
      <img class="poster" src="{{trailer.poster}}" alt="{{trailer.title}}" item-start />
      <h2>{{trailer.title}}</h2>
      <h3>Genres :</h3>
      <ul>
        <li *ngFor="let currentGenre of trailer.genre">
          {{currentGenre}}
        </li>
      </ul>
    </button>
  </ion-list>
</ion-content>
